<html>
<head  lang="en">
    <title>Alexander's Automatic Barbershop Arranger (AABA)</title>
    <meta charset="UTF-8">

    <!-- include $ABC_UI to render ABC -->
    <!-- http://dev.music.free.fr/web-demo/$ABC_UI.html -->
    <link rel="stylesheet" href="music.min.css" />
    <script src="abc-ui-1.0.0.min.js"></script>
</head>

<body>
<h1>Alexander's Automatic Barbershop Arranger (AABA)</h1>

<p>Welcome to AABA! Please enter a song below, in ABC format, or try out the
    example that is already filled in. After clicking "Submit", you will see a basic barbershop
    arrangement of your music below.</p>

<p>See <a href="https://github.com/alexanderkoller/aaba">the documentation on Github</a>
    for details on how to enter the song that you want to arrange.</p>

{% if error != null %}<p style="color:red">Error: {{ error }}</p>{% endif %}

{% if error_details != null %}<p style="color:red">Error Details: {{ error_details }}</p>{% endif %}

<form action="/" method="post">
    <p><textarea name="input_abc" rows="10" cols="120">{% if form != null %}{{ form.input_abc() }}{% endif %}</textarea></p>
    <input type="submit" name="submit" />
</form>

<hr/>

<h2>Original music</h2>

{% if original_abc == null %}
(This is where the original song you typed in will be shown.)
{% else %}
<p>Note: For <a href="https://github.com/alexanderkoller/aaba/issues/5">technical reasons</a>, the song is shown an octave lower than you actually entered it. </p>
<div class="abc-source">{{ original_abc }}</div>
{% endif %}

<hr/>

<h2>Arrangement</h2>

{% if abc == null %}
(This is where the arrangement will be shown.)
{% else %}
<p>This arrangement has a score of {{ meta.getScore() }} and was computed in {{ meta.getRuntimeNs()/1000000 }}ms.</p>
<div class="abc-source">{{ abc }}</div>
{% endif %}

{% if abc != null || original_abc != null %}
<script>
    $ABC_UI.init();
</script>
{% endif %}

</body>
</html>

