<html>
<head  lang="en">
    <title>Alexander's Automatic Barbershop Arranger (AABA)</title>
    <meta charset="UTF-8">

    <!-- include $ABC_UI to render ABC -->
    <!-- http://dev.music.free.fr/web-demo/$ABC_UI.html -->
    <link rel="stylesheet" href="music.min.css" />
    <script src="abc-ui-1.0.0.min.js"></script>
</head>

<body>
<h1>Alexander's Automatic Barbershop Arranger (AABA)</h1>

<p>Welcome to AABA! Please enter a song below, in ABC format, and
    click "Submit". After a few moments, you will see an elementary barbershop
    arrangement of your music below.</p>

<p>See <a href="https://github.com/alexanderkoller/aaba">the documentation on Github</a>
    for details on how to enter the song that you want to arrange.</p>

{% if error != null %}<p style="color:red">Error: {{ error }}</p>{% endif %}

<form action="/" method="post">
    <p><textarea name="input_abc" rows="10" cols="80">{% if form != null %}{{ form.input_abc() }}{% endif %}</textarea></p>
    <input type="submit" name="submit" />
</form>

<hr/>

{% if abc == null %}
(This is where the arrangement will be shown.)
{% else %}
<div class="abc-source">{{ abc }}</div>
<script>
    $ABC_UI.init();
</script>
{% endif %}

</body>
</html>

